<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> I dont know actually know exactly what this does but I tell myself I'm going to learn later. I tell myself many lies -->
    <clear />
    <!-- Adding DSharpPlus nightlies source -->
    <add key="DSharpPlus" value="https://nuget.emzi0767.com/api/v3/index.json" />
    <!-- Adding NuGet Gallery source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
